@model IEnumerable<Vamos_Brincar.Models.CrudProp>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Vamos Brincar</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="~/assets/img/icon.png" />
        <!-- Font Awesome icons -->
        <script src="https://kit.fontawesome.com/bb103a8609.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Material Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/css/styles.css" rel="stylesheet" />
        <!-- table sorting -->
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_atividade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
       

        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_atividade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nome)
    </td>
    

    <td>
        @Html.DisplayFor(modelItem => item.descricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.avaliacao)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {  id=item.id_atividade }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
